html body {
    padding: 0;
    margin: 0;
}

.showcase {
    background-image: url("../image/hamburger-and-fries-photo-2983101.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.showcase p {
    color: #fff;
    font-size: 150%;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #000;
}

.headingText h2{
    color: #fff;
    padding-top: 40px;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #000;
    
}

.about h1 {
    letter-spacing: 2px;
    color: rgb(5, 143, 124);
}

.about p {
    line-height: 1.7em;
    font-size: 1n rem;
}
