.nav-header {
    background-color: #efefef;
    padding: .5rem 0;
    display: flex;
}

.nav-header h3 a {
    padding-left: 17px;
    color: #438496;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    overflow: hidden;
}

.nav-header .chart {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 20px;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}


.cartCounter {
    color: #438496;
}

.outerBox {
    width: 100%;
    height: 50px;
    padding: .3rem;
    margin-top: 2rem;
}

.innerBox {
    width: 80%;
    margin: auto;
}


.input {
    margin: auto;
}

.searchInput {
    text-align: center;
    height: 2.4rem;
    width: 80%;
    border: 1px solid #438496;
}

.searchBtn {
    border: none;
    height: 2.4rem;
    width: 50px;
    background-color: #fff;
    border: 1px solid #438496;
    color: #438496;
}

.menu {
    padding: 5rem; 
}



.menuPicture {
    width: 100%;
}

.menuContent {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menuContent p {
    font-weight: 600;
}

.orderBtn {
    background-color: #438496;
    color: #efefef;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 50%;
    padding: 7px;
    margin-bottom: 20px;
    border: none;
}

/* Order Section */
.order {
    background-color: #fff;
    width: 40%;
    position: absolute;
    display: none;
    top: 54px;
    right: 0;
}

#orderCloseButton {
    margin: 15px 0 0 10px;
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
}

.order #printOut {
    margin: auto;
    padding-top: 30px;
    width: 100%;
}

.order #printOut .orderHeader h3{
    text-align: center;
    color: #438496;
}

.order #printOut .orderContent {
    text-align: center;
    padding: 0 20px;
}

table {
    margin: auto;
    width: 70%;
    padding: 0 20px;
}

.cartQuantityInput {
    width: 100%;
    border: 1px solid #438496;
    text-align: center;
}

.itemName {
    padding: 0 50px;
}

.removeOrder {
    margin: 0 20px 0 20px;
    background: red;
    border: none;
    color: #fff;
}

.purchaseSection {
    text-align: center;
    padding: 15px 0;
}

.purchaseSection button {
    border: none;
    padding: 8px;
    color: #fff;
    background-color: #438496;
    letter-spacing: 2px;
    text-transform: uppercase;
}




footer{ 
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
    .order {
        background-color: #fff;
        width: 60%;
    }

    .nav-header h3 a {
        font-size: 21px;
    }
    
    .innerBox {
        width: 100%;
    }

    .menu {
        padding: 2rem; 
    }
}

@media (max-width: 576px) {
    .order {
        background-color: #fff;
        width: 100%;
    }

}
